
*.bias
*.a
*.dat
dzo
zo
stress-strain
info.jpg
ss-initial

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.classpath
.project
.settings
bin
*.dll
*.mod
*.cfg
core-lib/ss-initial-unsafe
*.so
reports